.carrousel-container{
    height: 190px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior:smooth;
    position: relative;
}
.carrousel-title{
    color: #fff;
    margin: 0 2%;
    text-align: start;
}
@media only screen and (min-width: 600px) {
    .carrousel-container{
        height: 40vh;
    }
}
.carrousel-header{
    position: relative;
    display: flex;
}
.carrousel-buttons{
    position: absolute;
    right: 4%;
    color: #fff;
}
.carrousel-button{
    margin: 10px;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    height: 100%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */